@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
    background-color: aquamarine;
}

.container {
    background-color: aqua;
    width: 960px;
    margin: auto;
}

header,
footer {
    background-color: antiquewhite;
}

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

a{
    color: gray;
    text-decoration: none;
    /*para que serve a propriedade decoration? R: Para alterar a decoração do texto, nesse caso removeu o underline */
}
a:hover{
    color: red;
}

img{
    width: 960px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 400px;
    margin: auto;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px, solid, #ddd;
}

tbody tr:hover{
    background-color: gray;
}

table img{
    border-radius: 25px;
    width: 100%;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;        
    border: 1px solid #ccc;
    border-radius: 5px;    
    box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus{
    background-color: gray;
    outline: none;
}

input[type="text"]:hover, textarea:hover{
    background-color: #ae9494;
}