@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

h2 {
    
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    

}
/* Aula do dia 01/11 */



body{
    background-color: aquamarine;
}


table{
    border: 0.5rem solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;


}